html, body, #canvas {
    width: 1024px;
    height: 768px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    touch-action: none;
    position: relative;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

body {
    background-color: #111111;
}

#gunsight {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-37px;
    margin-left:-37px;
}

#messages {
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: right;
    width: 300px;
    height: 300px;
    right: 0%;
    margin: 5px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#health {
    display: inline;
    position: absolute;
    bottom: 50px;
    z-index: 10;
    color: red;
    left: 200px;
    font-size: 300%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
