html, body, #canvas {
    width: 1024px;
    height: 768px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    touch-action: none;
    position: relative;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

body {
    background-color: #111111;
}
